# =====================
# General / OS
# =====================
.DS_Store
.vscode/
.idea/

# =====================
# Node / Frontend
# =====================
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/.vercel/
frontend/out/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/coverage/
frontend/*.tsbuildinfo
frontend/*.pem

# =====================
# Solana / Anchor / Rust
# =====================
program/**/target/
program/**/Cargo.lock
program/**/.DS_Store
program/**/*.log
program/**/*.json
program/**/*.key
.anchor/
test-ledger/

# =====================
# Yarn / Package managers
# =====================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =====================
# Misc
# =====================
.env*
*.rs.bk
